<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VBT.DBO web client</title>
    <% if (htmlWebpackPlugin.files.chunks.main.css.length) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
    <% } %>
    <script src="<%= htmlWebpackPlugin.files.chunks.manifest.entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
</head>
<body>
    <div id="app"></div>
    <!--<div>-->
        <!--<% print(JSON.stringify(htmlWebpackPlugin)) %>-->
    <!--</div>-->
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
