$class: generic-icon;
$paths-element: __paths-group;

.#{$class} {
    fill: currentColor;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 0;

    &#{$paths-element} {
        fill: transparent;
    }
}
